<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/usr_layout}"
>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body layout:fragment="content" data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  <div class="untree_co-hero pb-0" id="home-section">
    <div class="container">
      <div class="row">

        <div class="col-12">
          <div class="dots"></div>
          <div class="row justify-content-center">
            <div class="col-md-7 text-center mb-5">
              <h1 class="heading" data-aos="fade-up" data-aos-delay="0">E-book Market <span class="d-block">by <a href="https://untree.co">MeotBooks</a></span></h1>
            </div>
          </div>
          <div class="row align-items-center">

            <div class="col-lg-4">
              <div class="intro">

                <div class="excerpt"data-aos="fade-up" data-aos-delay="100">
                  <span class="caption">Welcome to MeotBooks E-book Market</span>
                  <h2 class="font-weight-bold">Explore The Platform</h2>
                  <p>MeotBooks E-book Market에서 구매한 도서는 평생 소장이 가능합니다</p>
                </div> <!-- /.excerpt -->
                <p data-aos="fade-up"  data-aos-delay="200">
                  <a href="#" class="btn btn-primary smoothscroll mr-1">See Features</a>
                  <a href="#" class="btn btn-outline-primary smoothscroll">Pricing</a>
                </p>
              </div>
              
            </div> <!-- /.col-lg-5 -->
            <div class="col-lg-8">
              <div class="illustration">
                <img src="/images/graphs-statistics_outline.svg" alt="Image" class="img-fluid">
              </div>
            </div>
          </div>
        </div>

      </div> <!-- /.row -->
    </div> <!-- /.container -->
    <!-- <div class="illustration">
      
    </div> -->
  </div> <!-- /.untree_co-hero -->

  <div id="overlayer"></div>

</body>
</html>
