<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{fragment/usr_layout}"
>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body layout:fragment="content" data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

<div class="untree_co-section bg-light">
  <div class="container">
    <section class="section section-write container mx-auto">
    <div class="px-2 pt-4">

      <h1 class="font-bold text-lg"><i class="fa-solid fa-pen"></i>글 수정</h1>

      <form th:action method="POST" class="flex flex-col gap-3"
          onsubmit="PostModify__submit(this); return false;">
      <input type="hidden" name="content">
      <input type="hidden" name="contentHtml">

      <div class="form-control">
        <label class="label">
          <span class="label-text">No .</span>
        </label>
        <span class="badge rounded-pill bg-light" style="font-size:16px;"> [[${post.id}]] </span>
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">날짜</span>
        </label>
        <div class="badge rounded-pill bg-light" style="font-size:16px;">
          <i class="fa-solid fa-pen"></i>
          <span class="ml-1">작성</span>
          <span class="ml-1"
                th:text="${#temporals.format(post.createDate, 'yy-MM-dd HH:mm')}"></span>
        </div>
        <div class="badge rounded-pill bg-light btn-lg" style="font-size:16px;">
          <i class="fa-solid fa-eraser"></i>
          <span class="ml-1">수정</span>
          <span class="ml-1"
                th:text="${#temporals.format(post.updateDate, 'yy-MM-dd HH:mm')}"></span>
        </div>
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">제목</span>
        </label>
        <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
               maxlength="50" th:value="${post.subject}"
               style="width:600px">
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">태그</span>
        </label>
        <input type="text" name="postTagContents" placeholder="#태그1 #태그2 #태그3 ..."
               class="input input-bordered"
               maxlength="50" th:value="${post.extra_inputValue_hashTagContents}"
               style="width:600px">
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">내용</span>
        </label>
      </div>
      <!-- 토스트 UI 에디터 적용 시작-->
      <div class="toast-ui-editor" toast-ui-editor--height="calc(100vh)">
        <script type="text/x-template" th:utext="${post.content}"></script>
      </div>
      <!-- 토스트 UI 에디터 적용 끝 -->

      <!-- 버튼 그룹 시작 -->
      <div class="grid grid-cols-2 mt-2 gap-2">
        <button type="submit" class="btn btn-primary py-2 px-4">
          <i class="fa-solid fa-pen"></i>
          <span class="ml-1" style="font-size:15px;">작성</span>
        </button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline py-2 px-4">
          <i class="fa-solid fa-angle-left"></i>
          <span class="ml-1" style="font-size:15px;">취소</span>
        </button>
      </div>
      <!-- 버튼 그룹 끝 -->
    </form>

    </div>
    </section>
  </div>
  </div>
</div>
<script layout:fragment="script" type='text/javascript'>
  let PostModify__submitDone = false;

  function PostModify__submit(form) {
    if (PostModify__submitDone) {
      return;
    }

    form.subject.value = form.subject.value.trim();

    if (form.subject.value.length == 0) {
      alert("제목을 입력해주세요.");
      form.subject.focus();

      return;
    }

    form.postTagContents.value = form.postTagContents.value.trim();

    if (form.postTagContents.value.length == 0) {
      alert("태그를 입력해주세요.");
      form.postTagContents.focus();

      return;
    }

    const editor = $(form).find(".toast-ui-editor").data("data-toast-editor");
    const markdown = editor.getMarkdown().trim();
    const html = editor.getHTML().trim();

    form.content.value = markdown;
    form.contentHtml.value = html;

    if (form.content.value.length == 0 || form.contentHtml.value.length == 0) {
      alert("내용을 입력해주세요");
      editor.focus();
      return;
    }

    form.submit();
    PostModify__submitDone = true;
  }
</script>
</body>
</html>