<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/css/aos.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body layout:fragment="content" data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  <div class="untree_co-login-register">
   <div class="container">
    <div class="row justify-content-center">

     <div class="col-lg-5">
      <div class="custom-box" data-aos="fade-up" data-aos-delay="0">
        <h2 class="heading" >Login</h2>

          <form onsubmit="MemberLogin__submit(this); return false"
                th:action="@{/member/login}" method="post"
                class="flex flex-col gap-3">
          <div class="form-field">
            <label for="username">Username</label>
            <input autofocus type="text" class="form-control" id="username" name="username" maxlength="50">
          </div>
          <div class="form-field">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" maxlength="50">
          </div>
          <div class="form-field">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</div>

<div id="overlayer"></div>

<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.easing.1.3.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/custom.js"></script>
<script layout:fragment="script" type='text/javascript'>

    const params = /*[[ ${param} ]]*/ null;

    if (params.msg) {
        successModal(params.msg);
    }

    if (params.errorMsg) {
        errorModal(params.errorMsg);
    }
      let MemberLogin__submitDone = false;

      function MemberLogin__submit(form) {
      if (MemberLogin__submitDone) {
      return;
      }

      form.username.value = form.username.value.trim();

      if (form.username.value.length == 0) {
      warningModal("아이디를 입력해주세요.");
      form.username.focus();

      return;
      }

      form.password.value = form.password.value.trim();

      if (form.password.value.length == 0) {
      warningModal("비밀번호를 입력해주세요.");
      form.password.focus();

      return;
      }

      form.submit();
      MemberLogin__submitDone = true;
      }
</script>
</body>
</html>
