<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>

<body layout:fragment="content" data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

  <div class="untree_co-login-register">
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-lg-5">
      <div class="custom-box" data-aos="fade-up" data-aos-delay="0">
        <h2 class="heading" >Login</h2>

          <form onsubmit="MemberLogin__submit(this); return false"
                th:action="@{/member/login}" method="POST"
                class="flex flex-col gap-3">
          <div class="form-field">
            <label for="username">Username</label>
            <input autofocus type="text" class="form-control" id="username" name="username" maxlength="50">
          </div>
          <div class="form-field">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" maxlength="50">
          </div>
          <div class="form-field">
            <input type="submit" class="btn btn-primary btn-block" value="Login">
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</div>
<div id="overlayer"></div>

<script layout:fragment="script" type='text/javascript'>
    function MemberLogin__submit(form) {
        form.username.value = form.username.value.trim();

        if (form.username.value.length == 0) {
            alert("아이디를 입력해주세요.");
            form.username.focus();
            return;
        }

        form.password.value = form.password.value.trim();

        if (form.password.value.length == 0) {
            alert("비밀번호를 입력해주세요.");
            form.password.focus();
            return;
        }

        form.submit();
    }
</script>
</body>
</html>
