<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org"
        layout:decorate="~{fragment/layout}"
>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body layout:fragment="content" data-spy="scroll" data-target=".site-navbar-target" data-offset="100">
<div class="untree_co-section" id="contact-section">
    <div class="container">
        <div class="row mb-5"  data-aos="fade-up" data-aos-delay="0">
            <div class="col-12 text-center">
                <span class="caption">Contact</span>
                <h2 class="heading">Get In Touch</h2>
                <p>Far from the countries Vokalia and Consonantia</p>
            </div>
        </div> <!-- /.row -->
        <div class="row">


            <div class="col-lg-4 ml-auto"  data-aos="fade-up" data-aos-delay="200">
                <div class="quick-contact">
                    <h3 class="h5 mb-4">Contact Info</h3>
                    <address class="text-black d-flex"><span class="mt-1 icon-room mr-2"></span><span>43 Raymouth Rd. Baltemoer, London 3910</span></address>
                    <ul class="list-unstyled ul-links mb-4">
                        <li><a href="tel://11234567890" class="d-flex"><span class="mt-1 icon-phone mr-2"></span><span>+1(123)-456-7890</span></a></li>

                        <li><a href="tel://11234567890" class="d-flex"><span class="mt-1 icon-phone mr-2"></span><span>+1(123)-456-7890</span></a></li>

                        <li><a href="mailto:info@mydomain.com" class="d-flex"><span class="mt-1 icon-envelope mr-2"></span><span>info@mydomain.com</span></a></li>

                    </ul>
                </div>
            </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /.untree_co-section bg-light -->

</body>
</html>