<!doctype html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html"
        layout:decorate="~{fragment/usr_layout}"
>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body layout:fragment="content" data-spy="scroll" data-target=".site-navbar-target" data-offset="100">

<div class="untree_co-section bg-light">
  <div class="container">
    <section class="section section-write container mx-auto">
    <div class="px-2 pt-4">

      <h1 class="font-bold text-lg">   <i class="fa-solid fa-eraser"></i>도서 수정</h1>

      <form th:action method="POST" class="flex flex-col gap-3"
          onsubmit="ProductModify__submit(this); return false;">
      <input type="hidden" name="content">
      <input type="hidden" name="contentHtml">

      <div class="form-control">
        <label class="label">
          <span class="label-text">No .</span>
        </label>
        <span class="badge rounded-pill bg-light" style="font-size:16px;"> [[${product.id}]] </span>
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">날짜</span>
        </label>
        <div class="badge rounded-pill bg-light" style="font-size:16px;">
          <i class="fa-solid fa-pen"></i>
          <span class="ml-1">작성</span>
          <span class="ml-1"
                th:text="${#temporals.format(product.createDate, 'yy-MM-dd HH:mm')}"></span>
        </div>
        <div class="badge rounded-pill bg-light btn-lg" style="font-size:16px;">
          <i class="fa-solid fa-eraser"></i>
          <span class="ml-1">수정</span>
          <span class="ml-1"
                th:text="${#temporals.format(product.updateDate, 'yy-MM-dd HH:mm')}"></span>
        </div>
      </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">제목</span>
        </label>
        <input autofocus type="text" name="subject" placeholder="제목" class="input input-bordered"
               maxlength="50" th:value="${product.subject}"
               style="width:600px">
      </div>

        <div class="form-control">
          <label class="label">
            <span class="label-text">가격</span>
          </label>
          <input autofocus type="text" name="price" placeholder="가격" class="input input-bordered"
                 maxlength="50" th:value="${product.price}">
        </div>

      <div class="form-control">
        <label class="label">
          <span class="label-text">태그</span>
        </label>
        <input type="text" name="productTagContents" placeholder="#태그1 #태그2 #태그3 ..."
               class="input input-bordered"
               maxlength="50" th:value="${product.extra_inputValue_hashTagContents}"
               style="width:600px">
      </div>

      <!-- 버튼 그룹 시작 -->
      <div class="grid grid-cols-2 mt-2 gap-2">
        <button type="submit" class="btn btn-primary py-2 px-4">
          <i class="fa-solid fa-pen"></i>
          <span class="ml-1" style="font-size:15px;">작성</span>
        </button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-outline py-2 px-4">
          <i class="fa-solid fa-angle-left"></i>
          <span class="ml-1" style="font-size:15px;">취소</span>
        </button>
      </div>
      <!-- 버튼 그룹 끝 -->
    </form>

    </div>
    </section>
  </div>
  </div>
</div>
<script layout:fragment="script" type='text/javascript'>
  let ProductModify__submitDone = false;

  function ProductModify__submit(form) {
    if (ProductModify__submitDone) {
      return;
    }

    form.subject.value = form.subject.value.trim();

    if (form.subject.value.length == 0) {
      alert("제목을 입력해주세요.");
      form.subject.focus();

      return;
    }

    form.productTagContents.value = form.productTagContents.value.trim();

    if (form.productTagContents.value.length == 0) {
      alert("태그를 입력해주세요.");
      form.productTagContents.focus();

      return;
    }

    form.price.value = form.price.value.trim();

    if (form.price.value.length == 0) {
      alert("가격을 입력해주세요.");
      form.price.focus();

      return;
    }

    form.submit();
    ProductModify__submitDone = true;
  }
</script>
</body>
</html>